<div class="factoid {% if  factoid.layout %}factoid--layout-{{factoid.layout}}{% endif %}">
	<div class="factoid__content">

        {% if factoid.sup %}
            <div class="factoid__sup">{{ factoid.sup }}</div>
        {% endif %}

        <div class="factoid__main">

            {% if factoid.before %}
                <p class="factoid__before">{{ factoid.before }}</p>
            {% endif %}
            

            {% if  factoid.text %}
                <p class="factoid__number"
					data-counter {% if factoid.attr %}{{factoid.attr}}{% endif %}
				>
					{{ factoid.text }}
				</p>
            {% endif %}

            {% if factoid.after %}
                <div class="factoid__after">
                    {% if factoid.after.txt %}
                        <div class="factoid__after-txt">
                            {{ factoid.after.txt }}

                            {% if factoid.after.sup %}
                                <sup class="factoid__after-sup">
                                    {{ factoid.after.sup }}
                                </sup>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        </div>
	</div>

    {# Label #}
	{% if factoid.label %}
		<p class="factoid__label">{{ factoid.label }}</p>
	{% endif %}

    {# Sublable #}
    {% if factoid.sublabel %}
		<p class="factoid__sublabel">{{ factoid.sublabel }}</p>
	{% endif %}

    {% if factoid.icon %}
		<div class="factoid__icon">
            {% view '@icon' with {
                icon: factoid.icon
            } %}
        </div>
	{% endif %}
</div>
